.full-width {
  width: 95%;
}
.mt-10 {
  margin: 10px;
}
.mb-10 {
  margin: 10px;
}
.beer-image {
  margin-top: 0;
  border: 1.5px solid #9e9e9e;
  border-radius: 6px;
  margin-left: 13px;
  margin-bottom: 13px;
  height: 160px;
}
