/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-10 {
  margin: 10px;
}

.m-40 {
  margin: 40px;
}

.p-40 {
  padding: 40px;
}
.mr-20 {
  margin-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.layout-center {
  justify-content: center;
}

.layout-space-between {
  justify-content: space-between;
}

.layout-end {
  justify-content: end;
}
